nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 40px;

  /* Different from Dashboard */
  background-color: #111827;

  border-bottom: 1px solid #1f2937;
}

/* Logo */

nav h2 {
  margin: 0;
  color: #38bdf8;
  font-size: 26px;
  font-weight: 700;
}

/* Links */

nav div {
  display: flex;
  align-items: center;
  gap: 25px;
}

nav a {
  text-decoration: none;
  color: #e5e7eb;
  font-weight: 500;
  transition: 0.2s ease;
}

nav a:hover {
  color: #38bdf8;
}

/* Mobile */

@media (max-width: 768px) {
  nav {
    flex-direction: column;
    gap: 15px;
    padding: 15px 20px;
  }

  nav div {
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
  }
}